

# Practical_1: Variables and Assignments

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1
```
---

In [1]:
x = 10

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```
 

---

In [52]:
is_valid = True

is_valid

True

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```


---

In [53]:
name = 'Python Programming'

name

'Python Programming'

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```


---

In [54]:
sum_result = 5 + 3

sum_result

8

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```


---

In [55]:
a, b, c = 5, 10, 15

a,b,c

(5, 10, 15)

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```


---

In [56]:
x = 10

y = x


print(x)
print(y)

10
10

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```


---

In [57]:
gravity = 9.8

gravity

9.8

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```


---

In [59]:
country = 'Ghana'

country

'Ghana'

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```



---

In [65]:
#first step
age = 25

age = 26

print(age) 

#second step
x = 26

age = x

print(age)

26
26

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```


---

In [66]:
substract_result = 20 - 7

substract_result

13

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```


---

In [67]:
is_complete = False

is_complete

False

### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```


---

In [70]:
x = 20

y = 14

x = y

y = x

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```


---

In [71]:
complex_num = 3 + 4j

complex_num

(3+4j)

### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

---

In [50]:
year = 2025

year = str(2025)

type(year)

str

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```


---

In [49]:
first_name = "Sara"

last_names = "AKAKPO"


print(first_name)

last_names

Sara

'AKAKPO'

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```



---

In [72]:
temperature = 35.5
temperature

35.5

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```


---

In [73]:
product = 8 * 6

product

48

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```


---

In [74]:
sentence = "I am Coop student in Data Science at AIMS Senegal"

sentence

'I am Coop student in Data Science at AIMS Senegal'

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```
---

In [45]:
nombre = "50"

int_value = int(nombre)
type(int_value)

int

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

---

In [44]:
quotient = 144 / 12 

quotient

12.0

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```
---

In [7]:
remainder = 47 % 5

remainder

2

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

---

In [43]:
is_student = True
is_student

True

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```



---

In [42]:
result = 45 % 4

result

1

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```


---

In [41]:
pi = 3.14159


pi

3.14159

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```
 


---

In [40]:
length = 25

width = 10

area_rectangle = length * width

print(area_rectangle)

250

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```


---

In [39]:
negative_value = -50

negative_value

-50

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```
---

In [13]:
greeting = " ' Hello, World!' "

print(greeting)

 ' Hello, World!'

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```


---

In [38]:
population = 25550250

population

25550250

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30
```



---

In [37]:
result_power = 2 ** 8

print(result_power)

256

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```
---

In [36]:
fruits = ['Banana', 'Orange', 'Pineapple', 'Strawberry', 'Lemon']

fruits

['Banana', 'Orange', 'Pineapple', 'Strawberry', 'Lemon']

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```



---

In [35]:
coordinates = (20, 25, 30)

coordinates

(20, 25, 30)

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```


---

In [34]:
person = {
     'name' : 'Adjo Sara',
     'age' : 22

}

person

{'name': 'Adjo Sara', 'age': 22}

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

---

In [33]:
float1 = 20.565

float2 = 25.36

sum_float = float1 + float2

sum_float

45.925

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```
---

In [15]:
is_sunny = 10 > 5

is_sunny

True

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```
---

In [18]:
prof = 'Yae GABA'

age = 40

print(f"Our professor, {prof} is at the age of {age}")

Our professor, Yae GABA is at the age of 40

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```
---

In [19]:
number = 12

number = True

type(number)

bool

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```


---_

In [32]:
is_weekend = False 

type(is_weekend)

bool

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```
---

In [21]:
description = "During the last half century, the seemingly endless Amazon has lost at least 17% of its forest cover, its connectivity has been increasingly disrupted, and numerous endemic species have been subjected to waves of resource exploitation. The economic transformation of the Amazon based on the conversion and degradation of its natural habitat is gaining momentum. Yet, as those forces grow in strength, we are also finding that the Amazon plays a critical role in maintaining climate function regionally and globally, a contribution which everyone–rich or poor–depends on.The Amazon’s canopy cover helps regulate temperature and humidity, and is intricately linked to regional climate patterns through hydrological cycles that depend on the forests. Given the enormous amount of carbon stored in the forests of the Amazon, there is tremendous potential to alter global climate if not properly stewarded. The Amazon contains 90-140 billion metric tons of carbon, the release of even a portion of which would accelerate global warming significantly. Currently, land conversion and deforestation in the Amazon release up to 0.5 billion metric tons of carbon per year, not including emissions from forest fires, thus rendering the Amazon an important factor in regulating global climate (Nepstad et al 2008). "

description

'During the last half century, the seemingly endless Amazon has lost at least 17% of its forest cover, its connectivity has been increasingly disrupted, and numerous endemic species have been subjected to waves of resource exploitation. The economic transformation of the Amazon based on the conversion and degradation of its natural habitat is gaining momentum. Yet, as those forces grow in strength, we are also finding that the Amazon plays a critical role in maintaining climate function regionally and globally, a contribution which everyone–rich or poor–depends on.The Amazon’s canopy cover helps regulate temperature and humidity, and is intricately linked to regional climate patterns through hydrological cycles that depend on the forests. Given the enormous amount of carbon stored in the forests of the Amazon, there is tremendous potential to alter global climate if not properly stewarded. The Amazon contains 90-140 billion metric tons of carbon, the release of even a portion of which would accelerate global warming significantly. Currently, land conversion and deforestation in the Amazon release up to 0.5 billion metric tons of carbon per year, not including emissions from forest fires, thus rendering the Amazon an important factor in regulating global climate (Nepstad et al 2008). '

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40
```
---

In [23]:
import math

result_abs = abs(-25)

print(result_abs)

25

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```
---

In [24]:
floor_div_result = 100 // 6

floor_div_result

16

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```
---

In [25]:
mixed_sum = 12.3 + 50

mixed_sum

62.3

### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 43
```
---

In [26]:
a = 10

b = 15

compare_num = bool(a==b)

compare_num

False

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 44
```
---

In [27]:
sentence = "The economic transformation of the Amazon based on the conversion and degradation of its natural habitat is gaining momentum."

len(sentence)

125

### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 45
```
---

In [28]:
division_result = 7 / 3

division_result

2.3333333333333335

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 46
```
---

In [29]:
speed = 100 / 60

speed

1.6666666666666667

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 47
```
---

In [30]:
x = 4

y = 3*x + 5

y

17

### Exercise 48:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 48
```

****

In [31]:
x = 12

y = 10 

z = 37

moyenne = (x+y+z) / 3

moyenne

19.666666666666668