# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

---

In [1]:
list_int = [1,2,3,4,5,6,7,8,9,10]

print(list_int)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

---

In [1]:
fruits = ("apple", "banana", "cherry")

fruits

('apple', 'banana', 'cherry')

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

---

In [5]:
numbers = [10,20,30,40]

x = tuple(numbers)

print(type(x))

<class 'tuple'>

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

---

In [7]:
elts = {1,2,3,4,5}

print(type(elts))

<class 'set'>

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

---

In [9]:
student = {
    'name': "Alice",
    'age': 20,
    'grade': "A"
    
}

student

{'name': 'Alice', 'age': 20, 'grade': 'A'}

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

---

In [11]:
num = [10,20,30,40,50]

num[1]

20

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

---

In [13]:
fruits = ["apple", "banana", "cherry", "orange"]

fruits[2] = "mango"

fruits

['apple', 'banana', 'mango', 'orange']

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

---

In [15]:
numbers = {1, 2, 3, 4, 5}

numbers.add(6)

numbers

{1, 2, 3, 4, 5, 6}

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

---

In [19]:
person = {"name": "John", 
          "age": 25, 
          "city": "New York"
}

person.pop('age')

person

{'name': 'John', 'city': 'New York'}

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

---

In [21]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

---

In [24]:
list = [x**2 for x in range(1,11) ]

list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

---

In [1]:
even = tuple(x for x in range(2,11) if x%2 == 0)

print(even)

(2, 4, 6, 8, 10)

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

---

In [3]:
fruits = ["apple", "banana", "cherry"]

for i in fruits:
    print(i)

apple
banana
cherry

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

---

In [11]:
numbers = {1, 2, 3, 4, 5}

if 3 in numbers:
    print("The number exists")         
else:
    print("Number not in set")

The number exists

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

---

In [13]:
numbers = (10, 20, 30)

print(len(numbers))

3

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

---

In [19]:
scores = [80, 85, 90, 95]

scores.append(100)

scores

[80, 85, 90, 95, 100]

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

---

In [21]:
def sum_list(list_enter):
    return sum(list_enter)


num = [10,15,154,18,36,25,47,187]

print(sum_list(num))

492

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

---

In [23]:
numbers = [1, 2, 2, 3, 4, 4, 5]

set_num = set(numbers)

print(type(set_num))

<class 'set'>

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

---

In [25]:
char = "hello"

char_list = list(char)

print(char_list)

['h', 'e', 'l', 'l', 'o']

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

---

In [29]:
def reverse_tuple(tple):
    return tple[::-1]

num = (1, 2, 3, 4)

print(reverse_tuple(num))

(4, 3, 2, 1)

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

---

In [33]:
dict1 = {"a": 1, 
         "b": 2}

dict2 = {"c": 3, 
         "d": 4}

dict3 = {**dict1, **dict2}

print(dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

---

In [35]:
num = {x: x**2 for x in range(1,6)}

print(num)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

---

In [39]:
person = {"name" : "Sara",
          "age" : 21,
          "degree" : "Bachelor's degree"}

for i, j in person.items():
    print(f"{i} : {j}")

name : Sara
age : 21
degree : Bachelor's degree

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

---

In [41]:
letter = [chr(x) for x in range(65, 70)]

print(letter)

['A', 'B', 'C', 'D', 'E']

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

---

In [43]:
list1 = [1, 2, 3]
list2 = ["a", "b", "c"]

list3 = tuple(zip(list1, list2))

print(list3)

((1, 'a'), (2, 'b'), (3, 'c'))

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

---

In [45]:
list1 = [10, 20, 30, 40, 50]

print(list1.index(50))

4

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

---

In [51]:
names = ["Alice", "Charlie", "Bob", "David"]
names.sort()

print(names)

['Alice', 'Bob', 'Charlie', 'David']

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

---

In [55]:
def max_list(lst):
    return max(lst)

list1 = [10, 20, 30, 40, 50,100]

print(max_list(list1))

100

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

---

In [59]:
fruits = ["apple", "banana", "apple", "orange"]

print(fruits.count('apple'))

2

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

---

In [61]:
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

print(person["city"])

New York

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

---

In [63]:
def remove_dupli(lst):
    return list(set(lst))

fruits = ["apple", "banana", "apple", "orange"]

print(remove_dupli(fruits))

['banana', 'orange', 'apple']

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

---

In [65]:

def intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))


list1 = [10, 20, 30, 40, 50,100]

list2 = [10, 20, 30]

print(intersection(list1, list2))

[10, 20, 30]

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

---

In [67]:
def gene_sqr():
    for x in range(1,11):
        yield x**2

for square in gene_sqr():
    print(square)

1
4
9
16
25
36
49
64
81
100

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

---

In [69]:
def sum_dict(dct):
    return sum(dct.values())

dict2 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

print(sum_dict(dict2))

10

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

---

In [75]:
num = [3, 1, 4, 1, 5, 9]

print(sorted(num))

[1, 1, 3, 4, 5, 9]

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

---

In [77]:
def long_str(lst):
    return max(lst, key=len)

fruits = ["pineapple", "banana", "apple", "orange", "watermelon"]

print(long_str(fruits))

watermelon

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

---

In [79]:
num = [1, 2, 3, 4, 5]

print(all( x>0 for x in num))

True

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

---

In [81]:
num = [(x, x**2) for x in range(1,6)]
print(num)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

---

In [83]:
def sec_elts(tple):
    return [ t[1] for t in tple]

num = [(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

print(sec_elts(num))

[1, 4, 9, 16, 25]

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

---

In [86]:
def flattens(lst):
    return [i for sublist in lst for i in sublist]

liste = [[1, 1], [2, 4], [3, 9], [4, 16], [5, 25]]

print(flattens(liste))

[1, 1, 2, 4, 3, 9, 4, 16, 5, 25]

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

---

In [88]:
fruits = ["apple", "banana", "cherry"]

for i, j in enumerate(fruits):
    print(f"{i} : {j}")

0 : apple
1 : banana
2 : cherry

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

---

In [104]:
tple = (1, 6)

if len(tple) == 0:
    print("True")
else:
    print("False")

False

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

---

In [106]:
even = [x for x in range(1,21) if x%2==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

---

In [109]:
def reverse_list(lst):
    return lst[::-1]

num = [1, 2, 3, 4]

print(reverse_list(num))

[4, 3, 2, 1]

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

---

In [111]:
dict = {x : x**3 for x in range(1,6)}

print(dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

---

In [113]:
num = [1, 2, 2, 3, 4, 4, 5]

liste_uni = list(set(num))

print(liste_uni)

[1, 2, 3, 4, 5]

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

---

In [119]:
def extract(dicts, key):
    return [d[key] for d in dicts if key in d]

person =  [
    {"name": "Alice"},
    {"age": 25},
    {"city": "New York"}]

print(extract(person, "name"))

['Alice']

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

---

In [121]:
def fibo(n):
    a, b = 0,1
    for _ in range(n):
        yield a
        a, b = b, a+b

print(list(fibo(10)))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

---

In [125]:
def uni_char(s):
    return list(set(s))

print(uni_char("hello guyss"))

['y', 'g', 's', 'u', 'e', 'l', 'o', 'h', ' ']

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

---

In [131]:
def mix(list1, list2):
    return sorted(list1 + list2)


lst1 = [15, 55, 89]
lst2 = [1,7, 19, 3, 9, 78]

print(mix(lst1, lst2))

[1, 3, 7, 9, 15, 19, 55, 78, 89]

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

---

In [133]:
num = [1, 2, 3, 4, 5, 6]

even = list(filter(lambda x: x%2==0, num))

print(even)

[2, 4, 6]

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

---

In [139]:
tuples = [(1, 2), (3, 4), (5, 6)]

d = dict(tuples)

print(d)

TypeError: 'dict' object is not callable

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

---

In [142]:
def sy_diff(s1, s2):
    return s1 ^ s2

set1 = {1,2,3}
set2 = {3,4,5}

print(sy_diff(set1, set2))

{1, 2, 4, 5}

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

---

In [273]:
def common_elt(l1, l2, l3):
    return list(set(l1) & set(l2) & set(l3))

print(common_elt([1,2], [2,8], [2,78]))

[2]

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

---

In [275]:
def facto(n):
    if n == 0:
        return 1

    return n*facto(n-1)

print(facto(5))

120

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

---

In [259]:
fruits = ["apple", "", "banana", "", "cherry"]

cleaning = list(filter(None, fruits))

print(cleaning)

['apple', 'banana', 'cherry']

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

---

In [265]:
def inv_dict(dct):
    return {v: k for k, v in dct.items()}

print(inv_dict({"a":1, "b":34}))

{1: 'a', 34: 'b'}

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

---

In [267]:
def even_num(lst):
    return [x for x in lst if x % 2 ==0]

print(even_num([1,3,9,10,14]))

[10, 14]

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

---

In [269]:
def first_el(tpl):
    return [t[0] for t in tpl]

print(first_el([(1,"a"), (2, "v")]))

[1, 2]

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

---

In [271]:
def remo_dupli(lst):
    seen = set()
    res = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            res.append(item)

    return res

print(remo_dupli([1,6,6,8]))

[1, 6, 8]

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

---

In [257]:
food = ["rice", "chicken", "khom", "attièkè"]

leng = list(map(len, food))

print(leng)

[4, 7, 4, 7]

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

---

In [253]:
def average(lst):
    return sum(lst) / len(lst) if lst else 0

print(average([10,15,68]))

31.0

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

---

In [255]:
def fibo(n):
    a, b = 0,1
    res = []
    for _ in range (n):
        res.append(a)
        a, b = b, a+b

    return res

print(fibo(20))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

---

In [245]:
from collections import Counter

fruits = ["apple", "banana", "apple", "cherry"]

coun = dict(Counter(fruits))

print(coun)

TypeError: 'dict' object is not callable

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

---

In [247]:
def remo_val(lst, val):
    return [x for x in lst if x != val]

print(remo_val([1,7,7,9,5], 7))

[1, 9, 5]

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

---

In [249]:
def start_vo(lst):
    vo = "aeiouAEIOU"
    return [s for s in lst if s and s[0] in vo]

print(start_vo(["apple", "kiwi", "orange"]))

['apple', 'orange']

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

---

In [251]:
s1 = {1,25,36}
s2 = {12,25,6}

print(s1 & s2)

{25}

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

---

In [235]:
def flat_nes(lst):
    return [item for sublist in lst for item in sublist]

print(flat_nes([ [1,2], [3,54], [345] ]))

[1, 2, 3, 54, 345]

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

---

In [239]:
def all_uni(lst):
    return len(lst) == len(set(lst))

print(all_uni([1,12,3]))

print(all_uni([1,2,2]))

True
False

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

---

In [241]:
from functools import reduce

num = [1, 34, 89]

pro = reduce(lambda x, y : x*y, num)

print(pro)

3026

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

---

In [243]:
def str_len(lst):
    return {s: len(s) for s in lst}

print(str_len(["orange", "kiwi"]))

{'orange': 6, 'kiwi': 4}

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

---

In [223]:
def coun_vo(s):
    return sum (1 for c in s.lower() if c in 'aeiou')

print(coun_vo("Love you baby"))

5

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

---

In [225]:
def facto(n):
    return 1 if n==0 else n*facto(n-1)

res = [(x, facto(x)) for x in range(1,6)]

print(res)

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

---

In [229]:
dct = [{"a": 1}, {"b": 5}, {"g": 59}]

merge = {}

for d in dct:
    for k, v in d.items():
        merge[k] = merge.get(k, 0) + v

print(merge)

{'a': 1, 'b': 5, 'g': 59}

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

---

In [233]:
def is_sub(sm, bi):
    return sm.issubset(bi)

print(is_sub({1,4}, {3,95}))

False

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

---

In [217]:
tpl = [(1, 6), (43, 3) , (34, 8)]

sort_tpl = sorted(tpl, key=lambda x : x[1])

print(sort_tpl)

[(43, 3), (1, 6), (34, 8)]

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

---

In [219]:
def pos_int(lst):
    return [x for x in lst if x > 0 ]

print(pos_int([-1, -36, 0, 25, 45]))

[25, 45]

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

---

In [221]:
s1 = {2, 8}
s2 = {3, 90}

print(s1 | s2)

{8, 2, 3, 90}

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

---

In [176]:
from functools import reduce

def prod(lst):
    return reduce(lambda x, y: x*y, lst)

print(prod([1,15,125,14]))

26250

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

---

In [180]:
char = ["M", "o", "r", "n", "i", "n", "g"]

str = ''.join(char)

print(str)

Morning

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

---

In [182]:
def sec_large(lst):
    uni = list(set(lst))
    uni.sort()
    return uni[-2] if len(uni) >=2 else None

print(sec_large([1,155,12,17]))

17

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

---

In [186]:
def sort_key(dct):
    return sorted(dct.keys())

print(sort_key({"b":2, "a":25}))

['a', 'b']

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

---

In [190]:
from collections import Counter

def most_com(lst):
    return Counter(lst).most_com(1)[0][0]

print(most_com(["cherry", "orange", "kiwi", "kiwi"]))

AttributeError: 'Counter' object has no attribute 'most_com'

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

---

In [192]:
tpl = [(3,'c') , (1, 'b')]

sort_fst = sorted(tpl, key=lambda x: x[0])

print(sort_fst)

[(1, 'b'), (3, 'c')]

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

---

In [201]:
def remo_dupl(lst):
    seen = []
    res = []
    for d in lst:
        if d not in seen:
            seen.append(d)
            res.append(d)

    return res

print(remo_dupl([{"a":1}, {"a":1}, {"b":84}]))

[{'a': 1}, {'b': 84}]

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

---

In [203]:
def min_max(lst):
    return min(lst) , max(lst)

print(min_max([3,1,5]))

(1, 5)

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

---

In [205]:
ls1 = [1, 2, 74]
ls2 = ['a', 'b', 'c']

com = list(zip(ls1, ls2))

print(com)

[(1, 'a'), (2, 'b'), (74, 'c')]

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

---

In [207]:
def rev_str(lst):
    return [ s[::-1] for s in lst]

print(rev_str(["bonjour", "miss"]))

['ruojnob', 'ssim']

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

---

In [209]:
def sum_odd(lst):
    return sum(x for x in lst if x%2 != 0)

print(sum_odd([1,24,55,58,47]))

103

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

---

In [211]:
def is_palin(s):
    return s == s[::-1]

print(is_palin("transform"))

False

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

---

In [215]:
def median(lst):
    lst = sorted(lst)
    n = len(lst)
    mid = n //2
    if n % 2 ==0:
        return (lst[mid - 1] + lst[mid]) / 2

    else :
        return lst[mid]

print(median([1,47,26]))

26

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

---

In [174]:
def sum_key(dct):
    res = {}
    for d in dct:
        for k, v in d.items():
            res[k] = res.get(k,0) + v

    return res

print(sum_key([{"a":1}, {"b":3, "a":50}]))

{'a': 51, 'b': 3}

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

---

In [161]:
from statistics import mode
lst = [1,25,35]

print(mode(lst))

1

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

---

In [163]:
def sum_squ(lst):
    return sum(x**2 for x in lst)

print(sum_squ(lst = [1,25,35]))

1851

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

---

In [165]:
c = [(x, x**3) for x in range(1,6)]

print(c)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

---

In [170]:
def is_prime(n):
    if n < 2:
        return False

    for i in range(2, int(n**0.5) + 1):
        if n%i ==0:
            return False

    return True

def prime_to(n):
    return [x for x in range(2,n+1) if is_prime(x)]

print(prime_to(20))

[2, 3, 5, 7, 11, 13, 17, 19]

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

---

In [151]:
def common_key(d1, d2):
    return list(set(d1.keys()) & set(d2.keys()))

dict1 = {"a": 1, "b": 2}
dict2 = {"a": 3, "c": 9}                    

print(common_key(dict1, dict2))

['a']

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

---

In [153]:
def lon_str(lst):
    return [s for s in lst if len(s)>5]

print(lon_str(["apple", "banana", "watermelon"]))

['banana', 'watermelon']

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

---

In [155]:
def str_info(lst):
    return [ (s, len(s)) for s in lst]

print(str_info(["apple", "banana", "watermelon"]))

[('apple', 5), ('banana', 6), ('watermelon', 10)]

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---

In [145]:
def sum_dic(dic):
    res = {}
    for d in dic:
        for k, v in d.items():
            res[k] = res.get(k,0) + v

    return res


dict1 = [{"a": 1, "b": 2}, {"a": 3, "b": 9}] 

print(sum_dic(dict1))

{'a': 4, 'b': 11}